.places {
  padding-top: 92px;
  max-width: 984px;
  width: calc(100vw - 96px);
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
  }
}
