.intro__text {
  margin: 40px 0 0;
  max-width: 640px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}

