.footer {
  max-width: 1184px;
  margin: 0 auto;
  width: calc(100vw - 96px);
  padding: 92px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 64px 0 24px;
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;

    width: calc(100vw - 32px);
    align-items: flex-start;
  }
}
